.analog-clock {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: rgb(0, 0, 0);
  -webkit-box-shadow: -23px 21px 44px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -23px 21px 44px -14px rgba(0, 0, 0, 0.75);
  box-shadow: -23px 21px 44px -14px rgba(0, 0, 0, 0.75);

  &::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 200px;
    border-radius: 150px 150px 0 0;
    transform: rotate(180deg);
    background-color: rgb(218 215 222);
    bottom: -30px;
    left: 0;
  }

  .dial {
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
    transform-origin: bottom left;
    z-index: 99;
  }
  .seconds {
    border-left: solid 1px rgb(255, 255, 255);
    z-index: 99;
    height: 90px;
    top: 10px;
  }
  .minutes {
    border-left: solid 2px #ffffff;
    z-index: 99;
    height: 75px;
    top: 25px;
  }
  .hours {
    width: 90px;
    height: 50px;
    top: 50px;
    border-left: solid 4px rgb(255, 255, 255);
    z-index: 99;
  }
}
